{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Create a Recipe{% endblock %}</h1>
    <form method="post">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" placeholder="Name" value="{{ request.form['name'] }}">
        <br>
        <label for="rating">Rating</label>
        <br>
        <input type="number" name="rating" min="0" max="10" value="5">
        <br>
        <label for="ingredients">Ingredients</label>
        <br>
        <textarea name="ingredients" rows="8" cols="100">List your ingredients!</textarea>
        <br>
        <label for="instructions">Instructions</label>
        <br>
        <textarea name="instructions" rows="8" cols="100">Explain how you make it!</textarea>
        <br>
        <button type="submit">Save Recipe/button>
    </form>
{% endblock %}