{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Welcome to Liquid Library {% endblock %}</h1>
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-primary" href="{{ url_for('create_recipe') }}">Create New Recipe</a>
            <a data-toggle="modal" data-target="#createRecipeModal">?</a>
            <br>
            <br>
            <a class="btn btn-primary" href="{{ url_for('view_recipes') }}">View/Manage Recipes</a>
            <a href="#">?</a>
            <br>
            <br>
            <a class="btn btn-primary" href="{{ url_for('create_book') }}">Create New Recipe Book</a>
            <a href="#">?</a>
            <br>
            <br>
            <a class="btn btn-primary" href="{{ url_for('view_books') }}">View/Manage Recipe Books</a>
            <a href="#">?</a>
        </div>
        <div class="col-sm-8">
            <table class="table table-striped">
            <tbody>
                {% for recipe in recipes %}
                <tr class="recipe">
                    <td><a href="/recipes/{{ loop.index - 1 }}">{{ recipe.name }} [Rating: {{ recipe.rating }}]</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="modal fade" id="createRecipeModal" tabindex="-1" role="dialog" aria-labelledby="createRecipeModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createRecipeModalTitle">How to Create a Recipe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Creating a recipe is super easy and only requires a few clicks!</p>
                    <p>As you can see in the .gif below, begin by clicking the 'Create Recipe' button on the home screen.</p>
                    <p>Then, simply fill in the form with the name of your recipe, how much you like it on a scale of 0-10, the ingredients list, and the instructions for making it. Finally, just click 'Save Recipe' and you're done!</p>
                    <iframe src="https://giphy.com/embed/3ohzdUpoRv0VAOX8sg" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/helpful-dog-helping-3ohzdUpoRv0VAOX8sg">via GIPHY</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}