{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Your Recipe {% endblock %}</h1>
    <div class="container">
        <div class="recipe">
            <span>Name: {{ recipe.name }}</span>
            <a class="btn btn-danger recipe-btn" href="#" onclick="return confirm('Are you sure? Deleting this recipe cannot be undone...')">Delete</a>
            <a class="btn btn-primary recipe-btn" href="#">Edit</a>
            <br>
            <p>Rating: {{ recipe.rating }}</p>
            <p>Ingredients:</p>
            <p class="multiline">{{ recipe.ingredients }}</p>
            <p>Instructions:</p>
            <p class="multiline">{{ recipe.instructions }}</p>
        </div>
    </div>
{% endblock %}