h1 {
    border: 2px #eee solid;
    color: blue;
    text-align: center;
    padding: 10px;
}

.ll-btn {
    margin-bottom: 5px;
    margin-top: 5px;
}

.multiline {
    white-space: pre-wrap;
}

.recipe-btn {
    float: right;
    margin-left: 10px;
}